body{
    /* display: flex; */
    width: 100vw;

}
a{
    text-decoration: none;
    color: blue;
}
.lay{

    width: 95vw;
    background-color: #FFFFFF;
    height: 100vh;
    /* margin-top: 30px; */
    margin: 20px;


}
/* logo size */
.logo{
    /* height: 40%; */
    width: 40%;
}

.sign{
    margin-bottom: 40px;
    /* display: flex; */
    /* width: 70%; */
    /* margin-right: 50px; */
    text-align: center;
    margin-top: 50px;
}


form{

    /* margin: 10%; */
    /* margin: 20%; */
    margin-left: 20%;
    margin-right: 20%;
}
/* for the top login and sign up link button */

.ep{
    background-color: #2960EE;
    color: #FFFFFF;
    width: 90px;
    /* height: 3670px; */
    border-radius: 20px;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 25px;
}
.ep2{
    /* background-color: blue; */
    /* color: #FFFFFF; */
    border: 0.5px solid #2960EE;
    width: 90px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
   /* margin-right: 15%; */
    color: black;
}
.he{
    margin-right: 13%;
}

/* submit button */
.sub{
    background-color: #2960EE;
    color: #FFFFFF;
    /* width: 90px; */
    border-radius: 20px;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-size: 25px;

}
.sub_btn{
    text-align: center;
    margin-top: 20px;

}
/* styliin of input area */
.mail{
    width: 140%;
    border-radius: 40px;
    height: 25px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: none;
    margin-right: 10px;
    border-bottom: 3px solid rgb(212, 209, 209);
}
.name_field{
    display: flex;
    width: 80%;
}

.first{
    margin-right: 5%;
}
.firstn {
    width: 30vw;
    /* width: 70%; */
    border-radius: 40px;
    height: 25px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: none;
    border-bottom: 3px solid rgb(212, 209, 209);
}
.lastn{
    width: 30vw;
    margin-right: 10px;
    /* width: 70%; */
    border-radius: 40px;
    height: 25px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: none;
    border-bottom: 3px solid rgb(212, 209, 209);
}



.content{
    width: 80%;
    margin-left: 1%;
}
.caution{
    margin-top: 20px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid red;
    width: 80%;
    margin-left: 10%;

}

.google-l{
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-img{
    width: 25px;

}

.google{
    text-align: center;
    margin-top: 50px;
    border: 1px black solid;
    padding: 0px;
    width: 250px;
    margin-left: 250px;
    border-radius: 30px;
}

.google-note{
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
}

.forget-password{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}



@media (max-device-width:376px ) {
    body{
       margin: 0px;
       padding: 0px;
       width: 60vw;
    }
    .logo{
        display: none;
    }
    .ep{
        margin-left: 1%;
    }


    .sign{
        margin: 0px;
        margin-top: 10vh;

    }

    form{

        margin: 0px;

    }

    .ep2{
        margin: 0px;
        padding-left: 1px;
        padding-right: 16px;
    }

    .ep{
        padding-left: 16px;
        padding-right: 16px;
    }
    .he{
        margin: 0px;
    }

    .content{
        margin-top: 10vh;
    }
    .sub_btn{
        margin: 0px;
        margin-top: 10px;
    }
    .caution{
        width: 90vw;
        font-size: 12px;
        /* display: none; */
    }
    .logo{
        width: 20%;
    }

    .lastn{
        width: 45vw;
    }
    .firstn{
        width: 45vw;
    }

}
