/* Extra small devices (Phones, 600px and down) */
@media only screen and (max-width: 600px){
.accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 90%;
    margin: 1rem;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */

.accordion {
    border-color: #dedede;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    height: auto;
} 

.accordion-title,
.accordion-select  {
    background-color: #F6F7F8;
    color: #7f8787;
    width: 100%;
    height: 3.5rem;
    font-size: 15px;
}
.accordion-button{
    border: none;
    background-color: #F6F7F8;
}
.accordion-select {
    margin-bottom: -65px;
    margin-right: -65px;
}

.accordion-title:not(:nth-last-child(2))::after {
    border-bottom-color: rgb(234, 234, 234);
    border-right-color: transparent;
} 

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
    background-color: #ffffff;
} 

.accordion-content {
    background-color: white;
    color: #7f8787;
    height: 280px;
    margin-bottom: -280px;
    margin-right: 0;
    padding: 30px;
    width: 100%;
} 
}

/* Small Devices(Portait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 95%;
    margin: 1rem;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */

.accordion {
    border-color: #dedede;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    height: auto;
} 

.accordion-title,
.accordion-select  {
    background-color: #F6F7F8;
    color: #7f8787;
    width: 100%;
    height: 3.5rem;
    font-size: 15px;
}
.accordion-button{
    border: none;
    background-color: #F6F7F8;
}
.accordion-select {
    margin-bottom: -65px;
    margin-right: -65px;
}

.accordion-title:not(:nth-last-child(2))::after {
    border-bottom-color: rgb(234, 234, 234);
    border-right-color: transparent;
} 

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
    background-color: #ffffff;
} 

.accordion-content {
    background-color: white;
    color: #7f8787;
    height: 280px;
    margin-bottom: -280px;
    margin-right: 0;
    padding: 30px;
    width: 100%;
} 
}
