* {
  box-sizing: border-box;
}
img {
  height: 100%;
  width: 100%;
}
.search-container {
  
  margin: 40px auto 5px;
  width: 56.311%;
  height: 400px;
  border-radius: 32px;
  background-color: rgb(197,214,253);
  display: flex;
  flex-direction: column;
  
 }
.search-section-text {
  font-family: 'Inter', sans-serif;
  color: rgb(41, 96, 238);
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  margin-left: auto;
  margin-right: auto;
  width: 82.8664%;
  text-align: center;
  margin-bottom: 80px;
  padding-top: 50px;
}
.search-bar {
  display: flex;
  width: 95%;
  height: 20%;
  background-color: #FFFFFF;
  border: 1px solid #EEB729;
  margin-left: auto;
  margin-right: auto;
  border-radius: 32px;
  padding: 32px 24px; 
}
.search-icon {
  width: 24px;
  height: 24px;
  color: rgba(19, 20, 23, 1);
  margin-top: 7px;
}
.search-field, ::placeholder  {
  width: 230px;
  height: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: rgba(19, 20, 23, 1);
  flex: none;
  order: 1;
  flex-grow: 0;
  background: rgba(255, 255, 255, 1);
  border: none;
}
input:focus {
  outline: none;
}
::placeholder {
  color: rgba(19, 20, 23, 1);
}

.section-one {
  display: flex;
  /* justify-content: space-evenly; */
  padding: 20px 50px;
  border-radius: 32px;
  width: 1312px;
  height: 376px;
  align-items: flex-start;
  margin-bottom: 40px;
  
  
}
.rectangle-one, .rectangle-three, .rectangle-four {
  width: 280px;
  height: 376px;
  background: #F2F2F2;
    border-radius: 32px;
}

.rectangle-two {
  width: 720px;
  height: 376px;
  background: #F2F2F2;
    border-radius: 32px;
}

.section-one > div {
  margin: 0px 10px;
}

.section-two {
  display: flex;
  flex-direction: column;
}
.top-bar {
  width: 1442px;
  height: 80px;
  background: #FFFFFF;
  border: 1px solid rgba(238, 183, 41, 1);
  padding: 24px 64px;

}
.top-bar > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1312px;
  height: 32px;
  text-align: center;
  align-items: center;
  padding: 0px;
}
.top-bar > div > p, .top-bar > div > a  {
  font-family: 'Inter', sans-serif;
  color: rgba(19, 20, 23, 1);
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.top-bar > div > p {
  height: 32px;
  flex: none;
}
.top-bar > div > a {
  width: 96px;
  height: 32px;
  text-decoration: none;
}
.top-bar > div > a:link, .top-bar > div > a:visited {
  color: rgba(19, 20, 23, 1);
  text-decoration: none;
}
.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 1312px;
  height: 376px;
  margin: 34px auto;
}
.items > div {
  border-radius: 32px;
  width: 280px;
  height: 376px;
  background: #F2F2F2;
}