*{margin: 0; padding: 0; box-sizing: border-box;}
/* DESKTOP VIEW(760PX-1440PX) */
body{
    background-color:#fff;
    font-family: 'Inter', sans-serif;
}
/* FIRST NAVIGATION BAR */
.nav1{
    background-color: #fff;
    display: flex;
    width: 100%;
    padding: 0.5rem 1.5rem ;
    justify-content: space-between; 
    align-items: center;
   
}
/* HAGGLE LOGO */
.nav1-logo{
    width: 7rem;
 
    
}
.nav1-logo img{
    width: 100%;
}
/* SIGNIN/REGISTER SECTION */
.nav1-1{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.nav1-icon{
    margin: 0.3rem 0.5rem;
    margin-left: 0.5rem;
    background-color: #98B3F9;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius: 50%; 
}
   /* USER ICON  */
.iconify3{
    color:blue;
    font-size:1rem;
}
.nav1-1 a {
    text-decoration: none;
    color: blue;
    font-family: 'Inter', sans-serif;
    
}
.nav1-1 a:hover{
    color:  #EEB729;
   
}
.nav1-1 a:active{
    color:  #EEB729;
    border-bottom: 2px solid  #EEB729; 
}
/* SECOND NAVIGATION BAR */
.nav2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: #2960EE;

    
}
/* PAGES IN THE NAVIGATION */
.nav2 a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 10px;
    margin-bottom:10px ;
    color:#fff;
    font-family: 'Inter', sans-serif;
    
}
.nav2 a:hover{
    color:  #EEB729;
    
}
.nav2 a:active{
    color:  #EEB729;
    border-bottom: 1px solid #EEB729; 
}
/* HAMBURGER MENU */
.menu{
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
}
.menu:hover{
    color:  #EEB729;
}
/* ALL CATEGORIES SECTION */
select{
    
    outline: none;
    border: none;
    color: white;
    background-color: #2960EE;
    margin-bottom:10px ;
    font-size: 1em;
    font-weight: 10px;
    font-family: 'Inter', sans-serif;
    
}
select:hover{
    color: #EEB729;
    
}
option{
    padding: 1.5rem;
    margin: 2.5rem;
    font-family: 'Inter', sans-serif;
}
option:active{
    color: #2960EE;
}
/* main section */
/* PRIVACY POLICY PAGE */
.container{
    display: flex;
    margin:  0 auto;

}
.privacy-policy{
    box-sizing: border-box;
    margin: 2rem 5rem;
    background-color :#2960EE;
    color:white;
    border-radius: 15px;

}
.privacy-policy content{
    margin-left: 0.5rem;
    font-family: 'Inter', sans-serif;
}
h4{
    line-height: 2rem;
    font-size: 15px;
}
h3{
    margin-top: 2rem;
    font-size: 15px;
}
p{
    margin-top: 1rem;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.third-parties li{
    line-height: 1.5rem;
    font-size: 15px;
    list-style: none;
    margin-top: 1rem;
}
/* footer section */
/* FOOTER */

.footer-content{
   padding: 2rem 2.5rem;
   background-color:#2960EE;
   
}
/* NEWSLETTER SECTION */
.news-letter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #98B3F9;
    padding: 0.5rem 0.3rem;
    box-sizing: border-box;
    border-radius: 20px;
    margin: auto;
   
}
.news-letter-details{
    line-height: 1rem;
    color: #2960EE;
    font-weight: 400;
    font-size: 15px;
    margin-left:1rem ;
}
small{
    color: #2960EE; 
}
.news-letter-email{
    border: 1.5px solid #EEB729;
    padding: 0.2rem 1rem;
    background: #fff;
    margin-right: 1rem;
    display: flex;
    justify-items: space-between;
    align-items: center;
    border-radius: 50px;
    
    
}

.news-letter-email input{
    outline: none;
    border: none;
    color: #2960EE;

}
.email-input::placeholder{
    color: #2960EE;
    font-weight: lighter;
    
   

}
.email-holder{
   display: flex;
   gap:0.5rem;
}
/* SUBSCRIBE BUTTON */
#subscribe{
    padding: 0.3rem 0.9rem;
    background-color: #EEB729;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;

}
#subscribe:hover{
    background-color: #fff;
    color: #EEB729;
    border: 2px solid #EEB729;
    padding:0.5rem 1rem ;
    cursor: pointer;
}
/* BLUE FOOTER */
.first-footer-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.footer-ul li{
 list-style: none;
 color: #fff;
 line-height: 1.5rem;
 
}
.title{
    font-size: 15px;
}
ul  a{
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    cursor: pointer;
    font-size: 12px;
    display: inline-flex;
    gap: 1rem;
    align-items: center;
}
ul a:hover{
    color:  #EEB729;
}
ul a:active{
    color:  #EEB729;
    border-bottom:1px solid #EEB729;
}

.footer-tagline{
    font-size: 12px; 
}
/* SOCIAL  ICONS */
.socials-icon{
    display: flex;
}
.icon{
    margin: 0.3rem 0.5rem;
    margin-left: 0.5rem;
    background-color: #fff;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem 0.2rem;
    border-radius: 50%;
}
.iconify{
    
    color: #2960EE;
    
}
.iconify:hover{
    color: #EEB729;
    padding: 0.3rem 0.3rem;
}
.iconify1{
    color: #2960EE;  
}
.iconify2{
    color: #fff;
    
   
}
/* SECOND FOOTER */
.second-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    margin-top: 0.3rem;
    background-color: #98B3F9;
}
.footer-logo{
    width:7rem;
}
.second-footer p{
    color: #2960EE;
    cursor: pointer;
    font-size: 12px;
    font-family: 'inter',sans-serif;
}
.second-footer p:hover {
    color: #EEB729;

}

/* MEDIA RESPONSIVE CSS */

/* TABLET VIEW */

@media screen and (max-width:760px){
    /* HEADER */
    .nav2{
        align-items: flex-end;
        justify-content: end;
    }
    .nav2 a{
        display: none;
    }
    select{
        display: none;
    }
    .menu{
        display: block;
    }

    /* PRIVACY POLICY */
    .container{
        margin: auto 3rem;
    }
    .privacy-policy{
        margin: 1rem 3rem;
    }

    /* FOOTER */
    .news-letter{
        flex-direction: column;
        margin: 0.5rem 3.5rem;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
    }
    .news-letter-details{
        margin: 0.5rem 0rem;
        text-align: center;
    }
    .first-footer-details{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    .title{
        margin-top: 0.5rem;
    }
    

}

/* LAPTOP SMALL TO MOBILE LARGE */

@media screen and (max-width:570px ){

   /* FOOTER */
   .email-holder{
    display: block;
   }
   .second-footer{
    display: block;
   }
   .second-footer p{
    font-size: 10px;
   }
   .news-letter{
    margin: 1rem 1rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
   }


}
@media screen and(max-width:460px){
    .news-letter{
       
        border-radius: 2px;
        align-items: center;
        justify-content: center;
    }
    .news-letter-details{
        padding: 2rem;
        text-align: center;
        
    }
    .news-letter-email{
        padding: 0.2rem 0.5rem;
        margin-right: none; 
    }
    .email-holder{
        display: inline-flex;
        gap: 0.2em;
    }
    .first-footer-details{
        flex-direction: row;
        justify-content: start; 
    }
    .title{
        margin-top: 0.5rem;
    }
    h4{
      
        font-size: 12px;
    }
    h3{
        
        font-size: 12px;
    }
    p{
      
        font-size: 12px;
    }
    
    .third-parties li{
        
        font-size: 12px;
   
    }  

}
