/* DESKTOP VIEW(760PX-1440PX) */
body {
  font-size: 20px;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: gray;
  /* width: 1440px; */
}
.container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-left: 13em;
  box-sizing: border-box;
}
#heading {
  padding-left: 6.5em;
  padding-top: 2em;
  color: black;
}
#desc{
  font-weight: lighter;
}
h5{
  color: #eeb729;
  padding-top: 1em;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
}
figure {
  margin: auto;
  width: 304px;
  height: 368px;
  border-radius: 32px;
}
.product {
  padding: 3em;
}