<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUTH-ERROR</title>
    <style>
        body {
            background-color: aqua;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 150px;
            position: relative;
        }    

        .login{
            border: black solid;
            border-radius: 20px;
            padding: 2px 5px;
            font-size: 15px;
        }    
    </style>
</head>

<body>
    <h1>Oops!, something went wrong</h1>

    <p>
        You may have pressed the back button, refreshed during login, opened too many login dialogs, or there is some
        issue with cookies, since we couldn't find your session. Try logging in again from the application
    </p>
    
    <a class="login" href="{%url 'login'%}">LOGIN</a>

</body>

</html>