/* For Extra Small Devices (Phones, 600px and down) */
*{margin: 0; padding: 0; box-sizing: border-box;}
@media only screen and (max-width: 600px){
.flex-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.flexboxitem{
    display: flex;
    flex-direction: column;
}
/* Flexbox Item 2(Product Images) & Its Contents Styling */
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#img-Box{
    max-height: 20rem;
    width: 40rem;
    overflow: hidden;
}
.image-container img{
    max-width: 93%;
    border-radius: 0.4rem;
    margin: 4rem 1rem 0 1rem;
}
.products-gallery{
    display: none;
}
.text-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}
.first-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    color: #626264;
}
.newline{
    display: block;
}
.share-icon .iconify{
    color: black;
    font-size: 1.4rem;
    margin-top: 0.3rem;
    
}
#first-icon{
    margin-right: 1rem;
}
.second-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem 0 0.5rem -0.3rem;
    gap: 0.3rem;
    color: #626264;
}
.naira-icon img{
    height: 2rem;
}
.second-text h2{
    margin-top: 0.09rem;
}
.third-text{
    color: #626264;
}
.fourth-text{
    display: flex;
    flex-direction: column;
}
.jumia-text{
    color: #EEB729;
    border-bottom: 1px solid grey;
    margin: 0.3rem 0 0 0;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    text-align: left;
}
.specifications{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 1rem;
}
.spec-spacing1 p{
    margin-bottom: 0.5rem;
}
.spec-spacing2 p{
    margin-bottom: 0.5rem;
}
.spec-spacing2 p:nth-child(5){
    color: #EE2960;
}

/* Comment Section Styling */
.comment-section{
    display: flex;
    flex-direction: row;
    background-color: #F6F7F8;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
}
.comment-number{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.comment-number .iconify{
    font-size: 0.4rem;
}
.comment-section  button{
    background-color: #F6F7F8;
    border: none;
    padding-top: 0.5rem;
    font-size: 1rem;
}
.comment-section p:first-child{
    margin-left: 1rem;
}
.comment-box{
    display: flex;
    flex-direction: column;
}
.user-picture-and-text-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin: 1rem;
}
.user-picture-and-text-area img{
    max-height: 3rem;
}
.user-picture-and-text-area input{
    padding: 1.5rem 6.5rem 13rem 1rem;
    background-color: #F6F7F8;
    border: 1px solid #7a7777;
    border-radius: 5px;
    width: 90%;
}
.user-picture-and-text-area input::placeholder{
    font-family: Inter;
    font-weight: 400; 
    font-size: 0.8rem;  
}
.post-comment-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.post-comment-button button{
    background-color: #2960EE;
    padding: 0.5rem 3rem;
    border: 1px solid #2960EE;
    border-radius: 1rem;
    color: white;
    margin-right: 1rem;
}
.post-comment-button a{
    text-decoration: none;
    color: white;
}
.post-comment-button button:hover{
    cursor: pointer;
}
.old-comments{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}
.old-comments > div > img{
    max-height: 3rem;
}
.comment-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}
.more-comments-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.more-comments-button button{
    padding: 9px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    margin: 1rem 0;
}
.more-comments-button a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}
.user-name{
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
}
.comment-date{
    color: #000000;
    font-weight: 300;
    font-size: 0.6rem;
}
.comment{
    color: #000000;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-right: 0.5rem;
}
.reply a{
    text-decoration: none;
    color: #EEB729;
    font-weight: 500;
    font-size: 0.6rem;
}
.replies a{
    text-decoration: none;
    color: #EEB729;
    font-weight: 500;
    font-size: 0.6rem;
}
.panel{
    display: block;
    overflow: hidden;
}
.panel.open{
    display:block
}
.active, .accordion-button:hover{
    background-color: red;
    cursor: pointer;
}

/* Other Store Offers & Its Contents Styling */
.other-store-offers{
    color:#626264;
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 3rem;
}
.similar-products{
    gap: 0.5rem;
    border-bottom: 1px solid grey;
    /* padding: 1rem 1rem; */
    margin: 1rem;
}
.similar-product-images{
    max-width: 94%;
}
.similar-product-images img{
    width: 100%;
    max-height: 15rem;
    border-radius: 5px; 
}
.similar-product-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.product-description-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.first-text-for-similar-product-description{
    color:#131417;
    font-size: 1.2rem;
    font-weight: 500;
}
.second-text-for-similar-product-description{
    color: #EEB729;
    font-size: 0.8rem;
    font-weight: 500;
}
.third-text-for-similar-product-description{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
}
.similar-product-price-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.similar-product-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #626264;
    margin-top: 1rem;
}
.similar-product-price h2{
    padding-bottom: 3px;
}
.store-link button{
    padding: 7px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    width: 7rem;
    margin: 1rem 0;
}
.store-link a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}

/* Pagination Styling */
.pagination{
    display: none;
}

/* Products You May Like Section Styling */
.you-may-like{
    color:#626264;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.products-you-may-like{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 0 4rem 1rem;
}
.other-products-you-may-like{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.other-products-you-may-like-images{
    max-width: 94%;
}
.other-products-you-may-like-images img{
    width: 100%;
    max-height: 10rem;
}
.other-products-you-may-like-price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #626264;
}
.other-products-you-may-like-first-text{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
}
.other-products-you-may-like-second-text{
    color: #EEB729;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0rem;
}
#mobile-alignment-third-konga{
    padding-top: 0.5rem;
}
.alignments5, .alignments6{
    padding-top: 0.5rem;
    margin-bottom: 0.8rem;
}
}

/* Small Devices(Portait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .flex-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.flexboxitem{
    display: flex;
    flex-direction: column;
}
/* Flexbox Item 2(Product Images) & Its Contents Styling */
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#img-Box{
    max-height: 20rem;
    width: 40rem; 
    overflow: hidden;
}
.image-container img{
    max-width: 96%;
    border-radius: 0.4rem;
    margin: 4rem 1rem 0 1rem;
}
.products-gallery{
    display: none;
}
.text-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}
.first-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    color: #626264;
}
.newline{
    display: inline;
}
.share-icon .iconify{
    color: black;
    font-size: 1.4rem;
    margin-top: 0.3rem;
    
}
#first-icon{
    margin-right: 1rem;
}
.second-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem 0 0.5rem -0.3rem;
    gap: 0.3rem;
    color: #626264;
}
.naira-icon img{
    height: 2rem;
}
.second-text h2{
    margin-top: 0.09rem;
}
.third-text{
    color: #626264;
}
.fourth-text{
    display: flex;
    flex-direction: column;
}
.jumia-text{
    color: #EEB729;
    border-bottom: 1px solid grey;
    margin: 0.3rem 0 0 0;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    text-align: left;
}
.specifications{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 1rem;
}
.spec-spacing1 p{
    margin-bottom: 0.5rem;
}
.spec-spacing2 p{
    margin-bottom: 0.5rem;
}
.spec-spacing2 p:nth-child(5){
    color: #EE2960;
}

/* Comment Section Styling */
.comment-section{
    display: flex;
    flex-direction: row;
    background-color: #F6F7F8;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
}
.comment-number{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.comment-number .iconify{
    font-size: 0.4rem;
}
.comment-section  button{
    background-color: #F6F7F8;
    border: none;
    padding-top: 0.5rem;
    font-size: 1rem;
}
.comment-section p:first-child{
    margin-left: 1rem;
}
.comment-box{
    display: flex;
    flex-direction: column;
}
.user-picture-and-text-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin: 1rem;
}
.user-picture-and-text-area img{
    max-height: 3rem;
}
.user-picture-and-text-area input{
    padding: 1.5rem 6.5rem 13rem 1rem;
    background-color: #F6F7F8;
    border: 1px solid #7a7777;
    border-radius: 5px;
    width: 90%;
}
.user-picture-and-text-area input::placeholder{
    font-family: Inter;
    font-weight: 400; 
    font-size: 0.8rem;  
}
.post-comment-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.post-comment-button button{
    background-color: #2960EE;
    padding: 0.5rem 3rem;
    border: 1px solid #2960EE;
    border-radius: 1rem;
    color: white;
    margin-right: 1rem;
}
.post-comment-button a{
    text-decoration: none;
    color: white;
}
.post-comment-button button:hover{
    cursor: pointer;
}
.old-comments{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}
.old-comments > div > img{
    max-height: 3rem;
}
.comment-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}
.more-comments-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.more-comments-button button{
    padding: 9px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    margin: 1rem 0;
}
.more-comments-button a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}
.user-name{
    color: #000000;
    font-weight: 600;
    font-size: 1rem;
}
.comment-date{
    color: #000000;
    font-weight: 300;
    font-size: 0.6rem;
}
.comment{
    color: #000000;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-right: 0.5rem;
}
.reply a{
    text-decoration: none;
    color: #EEB729;
    font-weight: 500;
    font-size: 0.6rem;
}
.replies a{
    text-decoration: none;
    color: #EEB729;
    font-weight: 500;
    font-size: 0.6rem;
}
.panel{
    display: block;
    overflow: hidden;
}
.panel.open{
    display:block
}
.active, .accordion-button:hover{
    background-color: red;
    cursor: pointer;
}

/* Other Store Offers & Its Contents Styling */
.other-store-offers{
    color:#626264;
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 3rem;
}
.similar-products{
    gap: 0.5rem;
    border-bottom: 1px solid grey;
    margin: 1rem;
}
.similar-product-images{
    max-width: 64%;
}
.similar-product-images img{
    width: 100%;
    max-height: 15rem;
    border-radius: 5px; 
}
.similar-product-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.product-description-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.first-text-for-similar-product-description{
    color:#131417;
    font-size: 1.2rem;
    font-weight: 500;
}
.second-text-for-similar-product-description{
    color: #EEB729;
    font-size: 0.8rem;
    font-weight: 500;
}
.third-text-for-similar-product-description{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
}
.similar-product-price-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.similar-product-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #626264;
    margin-top: 1rem;
}
.similar-product-price h2{
    padding-bottom: 3px;
}
.store-link button{
    padding: 7px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    width: 7rem;
    margin: 1rem 0;
}
.store-link a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}

/* Pagination Styling */
.pagination{
    display: none;
}

/* Products You May Like Section Styling */
.you-may-like{
    color:#626264;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.products-you-may-like{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 0 4rem 1rem;
}
.other-products-you-may-like{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.other-products-you-may-like-images{
    max-width: 94%;
}
.other-products-you-may-like-images img{
    width: 100%;
    max-height: 10rem;
}
.other-products-you-may-like-price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #626264;
}
.other-products-you-may-like-first-text{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
}
.other-products-you-may-like-second-text{
    color: #EEB729;
    font-size: 1rem;
    font-weight: 500;
}
#mobile-alignment-third-konga{
    padding-top: 0.5rem;
}
.alignments5, .alignments6{
    padding-top: 0.5rem;
    margin-bottom: 0.8rem;
}
}

/* Medium Devices (Landscape tablets, 770px and up) */
@media only screen and (min-width: 770px){
    .flex-container{
    display: flex;
    flex-direction: column;  
}
.flexboxitem{
    display: flex;
    flex-direction: row;
}

/* Flexbox Item 2(Product Images) & Its Contents Styling */
.flexboxitem2{
    margin-top: 4rem;
}
.products{
    display: flex;
    flex-direction: column;
}
#img-Box{
    min-height: 25rem;
}
.image-container img{
    width: 25rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: transform 1s;
}
.image-container img:hover{
    transform: scale(1.05);
    cursor: zoom-in;
}
.products-gallery{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: rem;
}
.products-gallery img{
    width: 4rem;
    margin: 1rem;
    border-radius: 0.8rem;
    height: 4rem;
    cursor: pointer;
    display: block;
    opacity: .9;
}
.products-gallery img:hover{
    opacity: 1;
}
.text-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding-bottom: 3rem;
}
.first-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1.5rem;
    padding-top: 4rem;
    color: #626264;
}
.share-icon .iconify{
    color: black;
    font-size: 1.4rem;
    margin-top: 0.3rem;
}
.second-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 1.3rem 1rem 1.3rem;
    gap: 0.5rem;
    color: #626264;
}
.naira-icon img{
    height: 2rem;
}
.second-text h2{
    margin-top: 0.15rem;
}
.third-text{
    margin: 1.5rem;
}
.fourth-text{
    display: flex;
    flex-direction: column;
}
.jumia-text{
    color: #EEB729;
    border-bottom: 1px solid grey;
    margin: -1rem 1.5rem 0 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
}
.specifications{
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    gap: 0.5rem;
}

/* Comment Section Styling */
.comment-section{
    margin: 1rem;
    background-color: #F6F7F8;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
}
.comment-number{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.comment-section  button{
    background-color: #F6F7F8;
    border: none;
    padding-top: 0.5rem;
    font-size: 1.4rem;
}
.comment-section p:first-child{
    margin-left: 1rem;
}
.comment-box{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.user-picture-and-text-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin: rem;
}
.user-picture-and-text-area img{
    max-height: 4rem;
}
.user-picture-and-text-area input{
    padding: 1rem 23rem 15rem 1rem;
    background-color: #D9D9D9;
    border: 1px solid #7a7777;
    border-radius: 5px;
}
.user-picture-and-text-area input::placeholder{
    font-weight: 400; 
    font-size: 0.8rem;
    font-family: Inter;  
}
.post-comment-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}
.post-comment-button button{
    background-color: #2960EE;
    padding: 0.5rem 3rem;
    border: 1px solid #2960EE;
    border-radius: 1rem;
    color: white;
}
.post-comment-button a{
    text-decoration: none;
    color: white;
}
.post-comment-button button:hover{
    cursor: pointer;
}
.old-comments{
    gap: 4rem;
    margin: 2rem 6rem 2rem 2rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}
.old-comments > div > img{
    max-height: 3.5rem;
}
.comment-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.more-comments-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.more-comments-button button{
    padding: 9px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    margin: 1rem 0;
}
.more-comments-button a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}
.user-name{
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}
.comment-date{
    color: #000000;
    font-weight: 300;
    font-size: 0.8rem;
}
.comment{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
.reply a{
    text-decoration: none;
    color: #B0B1B2;
    font-weight: 500;
    font-size: 0.7rem;
}
.replies a{
    text-decoration: none;
    color: #EEB729;
    font-weight: 500;
    font-size: 0.7rem;
}
.panel{
    display: block;
    overflow: hidden;
}
.panel.open{
    display:block
}
.active, .accordion-button:hover{
    background-color: red;
    cursor: pointer;
}

/* Other Store Offers & Its Contents Styling */
.other-store-offers{
    color:#626264;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.similar-products{
    gap: 0.5rem;
    border-bottom: 1px solid grey;
    padding: 1rem 1rem;
}
.similar-product-images{
    max-width: 94%;
}
.similar-product-images img{
    width: 100%;
    height: 25rem;
    border-radius: 5px; 
}
.similar-product-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.product-description-text{
    display: flex;
    flex-direction: column;
}
.first-text-for-similar-product-description{
    color:#626264;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
}
.second-text-for-similar-product-description{
    color: #EEB729;
    font-size: 1rem;
    font-weight: 500;
}
.third-text-for-similar-product-description{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
}
.similar-product-price-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.similar-product-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #626264;
}
.similar-product-price h2{
    padding-bottom: 3px;
}
.store-link button{
    padding: 7px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    width: 7rem;
    margin-top: 1rem;
}
.store-link a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}
.alignments{
    margin-left: 0.8rem;
}
.alignments2{
    margin-left: -0.5rem;
}
.alignments4{
    margin-left: 1rem;
}

/* Pagination Styling */
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}
.pagination a{
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #EEB729;
    border-radius: 4px;
    transition: background-color .3s;
}
.pagination a.active{
    background-color: #EEB729;
    color: black;
    border-radius: 4px;
}
.pagination a:hover:not(.active){
    background-color: #EEB729;
}
.pagination input{
    border: 1px solid #EEB729;
    border-radius: 4px;
    padding: 10px;
    width: 2.5rem;
}
.pagination .iconify{
    color: black;
    font-size: 1.5rem;
    padding-top: 0rem;
}
.previous-and-next-page-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Products You May Like Section Styling */
.you-may-like{
    color:#626264;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.products-you-may-like{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.other-products-you-may-like{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.other-products-you-may-like-images{
    max-width: 94%;
    /* height: 20rem;*/
    margin-left: -0.3rem;

}
.other-products-you-may-like-images img{
    width: 100%;
    max-height: 14rem;
}
.other-products-you-may-like-price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -1rem;
    color: #626264;
}
.other-products-you-may-like-first-text{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
    margin-left: -1rem;
}
.other-products-you-may-like-second-text{
    color: #EEB729;
    font-size: 1rem;
    font-weight: 500;
    margin-left: -1rem;
}
.alignments5, .alignments6{
    padding-top: 0.5rem;
    margin-bottom: 0.8rem;
}
}

/* Large Devices (Laptops/Desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .flex-container{
    display: flex;
    flex-direction: column;  
}
.flexboxitem{
    display: flex;
    flex-direction: row;
}

/* Flexbox Item 2(Product Images) & Its Contents Styling */
.flexboxitem2{
    margin-top: rem;
}
.products{
    display: flex;
    flex-direction: column;
}
#img-Box{
    min-height: 25rem;
}
.image-container img{
    width: 25rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: transform 1s;
}
.image-container img:hover{
    transform: scale(1.05);
    cursor: zoom-in;
}
.products-gallery{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.products-gallery img{
    width: 4rem;
    margin: 1rem;
    border-radius: 0.8rem;
    height: 4rem;
    cursor: pointer;
    display: block;
    opacity: .9;
}
.products-gallery img:hover{
    opacity: 1;
}
.text-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}
.first-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1.5rem;
    padding-top: rem;
    color: #626264;
}
.share-icon .iconify{
    color: black;
    font-size: 1.4rem;
    margin-top: 0.3rem;
}
.second-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 1.3rem 1rem 1.3rem;
    gap: 0.5rem;
    color: #626264;
}
.naira-icon img{
    height: 2rem;
}
.second-text h2{
    margin-top: 0.15rem;
}
.third-text{
    margin: 1.5rem;
}
.fourth-text{
    display: flex;
    flex-direction: column;
}
.jumia-text{
    color: #EEB729;
    border-bottom: 1px solid grey;
    margin: -1rem 1.5rem 0 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
}
.specifications{
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    gap: 0.5rem;
}

/* Comment Section Styling */
.comment-section{
    margin: 1rem;
    background-color: #F6F7F8;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
}
.comment-number{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.comment-section  button{
    background-color: #F6F7F8;
    border: none;
    padding-top: 0.5rem;
    font-size: 1.4rem;
}
.comment-section p:first-child{
    margin-left: 1rem;
}
.comment-box{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.user-picture-and-text-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    margin: rem;
}
.user-picture-and-text-area img{
    max-height: 4rem;
}
.user-picture-and-text-area input{
    padding: 1rem 25rem 15rem 1rem;
    background-color: #D9D9D9;
    border: 1px solid #7a7777;
    border-radius: 5px;
}
.user-picture-and-text-area input::placeholder{
    font-weight: 400; 
    font-size: 1rem;
    font-family: Inter;  
}
.post-comment-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}
.post-comment-button button{
    background-color: #2960EE;
    padding: 0.5rem 3rem;
    border: 1px solid #2960EE;
    border-radius: 1rem;
    color: white;
}
.post-comment-button a{
    text-decoration: none;
    color: white;
}
.post-comment-button button:hover{
    cursor: pointer;
}
.old-comments{
    gap: 4rem;
    margin: 2rem 6rem 2rem 2rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}
.old-comments > div > img{
    max-height: 3.5rem;
}
.comment-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.more-comments-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.more-comments-button button{
    padding: 9px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    margin: 1rem 0;
}
.more-comments-button a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}
.user-name{
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}
.comment-date{
    color: #000000;
    font-weight: 300;
    font-size: 0.8rem;
}
.comment{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
.reply a{
    text-decoration: none;
    color: #B0B1B2;
    font-weight: 500;
    font-size: 0.7rem;
}
.replies a{
    text-decoration: none;
    color: #EEB729;
    font-weight: 500;
    font-size: 0.7rem;
}
.panel{
    display: block;
    overflow: hidden;
}
.panel.open{
    display:block
}
.active, .accordion-button:hover{
    background-color: red;
    cursor: pointer;
}

/* Other Store Offers & Its Contents Styling */
.other-store-offers{
    color:#626264;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.similar-products{
    gap: 0.5rem;
    border-bottom: 1px solid grey;
    padding: 1rem 1rem;
}
.similar-product-images{
    max-width: 94%;
}
.similar-product-images img{
    width: 100%;
    height: 25rem;
    border-radius: 5px; 
}
.similar-product-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.product-description-text{
    display: flex;
    flex-direction: column;
}
.first-text-for-similar-product-description{
    color:#626264;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
}
.second-text-for-similar-product-description{
    color: #EEB729;
    font-size: 1rem;
    font-weight: 500;
}
.third-text-for-similar-product-description{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
}
.similar-product-price-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.similar-product-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #626264;
}
.similar-product-price h2{
    padding-bottom: 3px;
}
.store-link button{
    padding: 7px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    width: 7rem;
    margin-top: 1rem;
}
.store-link a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}
.alignments{
    margin-left: 0.8rem;
}
.alignments2{
    margin-left: -0.5rem;
}
.alignments4{
    margin-left: 1rem;
}

/* Pagination Styling */
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}
.pagination a{
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #EEB729;
    border-radius: 4px;
    transition: background-color .3s;
}
.pagination a.active{
    background-color: #EEB729;
    color: black;
    border-radius: 4px;
}
.pagination a:hover:not(.active){
    background-color: #EEB729;
}
.pagination input{
    border: 1px solid #EEB729;
    border-radius: 4px;
    padding: 10px;
    width: 2.5rem;
}
.pagination .iconify{
    color: black;
    font-size: 1.5rem;
    padding-top: 0rem;
}
.previous-and-next-page-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Products You May Like Section Styling */
.you-may-like{
    color:#626264;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.products-you-may-like{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.other-products-you-may-like{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.other-products-you-may-like-images{
    max-width: 94%;
    /* height: 20rem;*/
    margin-left: -1rem;

}
.other-products-you-may-like-images img{
    width: 100%;
    max-height: 15rem;
}
.other-products-you-may-like-price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -1rem;
    color: #626264;
}
.other-products-you-may-like-first-text{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
    margin-left: -1rem;
}
.other-products-you-may-like-second-text{
    color: #EEB729;
    font-size: 1rem;
    font-weight: 500;
    margin-left: -1rem;
}
.alignments5, .alignments6{
    padding-top: 0.5rem;
    margin-bottom: 0.8rem;
}
}

/* Extra Large Devices (Large Laptops and Desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .flex-container{
    display: flex;
    flex-direction: column;  
}
.flexboxitem{
    display: flex;
    flex-direction: row;
}

/* Flexbox Item 2(Product Images) & Its Contents Styling */
.flexboxitem2{
    margin-top: rem;
}
.products{
    display: flex;
    flex-direction: column;
}
#img-Box{
    min-height: 25rem;
}
.image-container img{
    width: 25rem;
    border-radius: 1rem;
    margin: 1rem;
    transition: transform 1s;
}
.image-container img:hover{
    transform: scale(1.05);
    cursor: zoom-in;
}
.products-gallery{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.products-gallery img{
    width: 4rem;
    margin: 1rem;
    border-radius: 0.8rem;
    height: 4rem;
    cursor: pointer;
    display: block;
    opacity: .9;
}
.products-gallery img:hover{
    opacity: 1;
}
.text-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}
.first-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.5rem;
    color: #626264;
}
.share-icon .iconify{
    color: black;
    font-size: 1.4rem;
    margin-top: 0.3rem;
}
.second-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 1.3rem 1rem 1.3rem;
    gap: 0.5rem;
    color: #626264;
}
.naira-icon img{
    height: 2rem;
}
.second-text h2{
    margin-top: 0.15rem;
}
.third-text{
    margin: 0rem 1.5rem 1.5rem 1.5rem;
}
.fourth-text{
    display: flex;
    flex-direction: column;
}
.jumia-text{
    color: #EEB729;
    border-bottom: 1px solid grey;
    margin: -1rem 1.5rem 0 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
}
.specifications{
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    gap: 0.5rem;
}

/* Comment Section Styling */
.comment-section{
    margin: 1rem;
    background-color: #F6F7F8;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
}
.comment-number{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.comment-section  button{
    background-color: #F6F7F8;
    border: none;
    padding-top: 0.5rem;
    font-size: 1.4rem;
}
.comment-section p:first-child{
    margin-left: 1rem;
}
.comment-box{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.user-picture-and-text-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.user-picture-and-text-area img{
    max-height: 7rem;
}
.user-picture-and-text-area input{
    padding: 1rem 25rem 15rem 1rem;
    background-color: #D9D9D9;
    border: 1px solid #7a7777;
    border-radius: 5px;
}
.user-picture-and-text-area input::placeholder{
    font-weight: 400; 
    font-size: 1rem;
    font-family: Inter;  
}
.post-comment-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}
.post-comment-button button{
    background-color: #2960EE;
    padding: 0.5rem 3rem;
    border: 1px solid #2960EE;
    border-radius: 1rem;
    color: white;
}
.post-comment-button a{
    text-decoration: none;
    color: white;
}
.post-comment-button button:hover{
    cursor: pointer;
}
.old-comments{
    gap: 4rem;
    margin: 2rem 6rem 2rem 2rem;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}
.old-comments > div > img{
    max-height: 5rem;
}
.comment-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.more-comments-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.more-comments-button button{
    padding: 9px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    margin: 1rem 0;
}
.more-comments-button a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}
.user-name{
    color: #000000;
    font-weight: 600;
    font-size: 1.2rem;
}
.comment-date{
    color: #000000;
    font-weight: 300;
    font-size: 0.8rem;
}
.comment{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}
.reply a{
    text-decoration: none;
    color: #B0B1B2;
    font-weight: 500;
    font-size: 0.7rem;
}
.replies a{
    text-decoration: none;
    color: #EEB729;
    font-weight: 500;
    font-size: 0.7rem;
}
.panel{
    display: block;
    overflow: hidden;
}
.panel.open{
    display:block
}
.active, .accordion-button:hover{
    background-color: red;
    cursor: pointer;
}

/* Other Store Offers & Its Contents Styling */
.other-store-offers{
    color:#626264;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.similar-products{
    gap: 0.5rem;
    border-bottom: 1px solid grey;
    padding: 1rem rem;
    margin-left: 0;
}
.similar-product-images{
    max-width: 94%;
}
.similar-product-images img{
    width: 100%;
    height: 35rem;
    border-radius: 5px; 
}
.similar-product-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
}
.product-description-text{
    display: flex;
    flex-direction: column;
}
.first-text-for-similar-product-description{
    color:#626264;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
}
.second-text-for-similar-product-description{
    color: #EEB729;
    font-size: 1rem;
    font-weight: 500;
}
.third-text-for-similar-product-description{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
}
.similar-product-price-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.similar-product-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #626264;
}
.similar-product-price h2{
    padding-bottom: 3px;
}
.store-link button{
    padding: 7px;
    border: 1px solid #2960EE;
    border-radius: 1.2rem;
    background-color: #EBEEF5;
    width: 7rem;
    margin-top: 1rem;
}
.store-link a{
    text-decoration: none;
    color: #2960EE;
    font-weight: 500;
    font-size: 1rem;
}
.alignments{
    margin-left: 0.8rem;
}
.alignments2{
    margin-left: -0.5rem;
}
.alignments4{
    margin-left: 1rem;
}

/* Pagination Styling */
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}
.pagination a{
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #EEB729;
    border-radius: 4px;
    transition: background-color .3s;
}
.pagination a.active{
    background-color: #EEB729;
    color: black;
    border-radius: 4px;
}
.pagination a:hover:not(.active){
    background-color: #EEB729;
}
.pagination input{
    border: 1px solid #EEB729;
    border-radius: 4px;
    padding: 10px;
    width: 2.5rem;
}
.pagination .iconify{
    color: black;
    font-size: 1.5rem;
    padding-top: 0rem;
}
.previous-and-next-page-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Products You May Like Section Styling */
.you-may-like{
    color:#626264;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.products-you-may-like{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.other-products-you-may-like{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.other-products-you-may-like-images{
    max-width: 94%;
    /* height: 20rem;*/
    margin-left: -1rem;

}
.other-products-you-may-like-images img{
    width: 100%;
    max-height: 20rem;
}
.other-products-you-may-like-price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -1rem;
    color: #626264;
}
.other-products-you-may-like-first-text{
    color:#3A3B3E;
    font-size: 1rem;
    font-weight: 300;
    margin-left: -1rem;
}
.other-products-you-may-like-second-text{
    color: #EEB729;
    font-size: 1rem;
    font-weight: 500;
    margin-left: -1rem;
}
.alignments5, .alignments6{
    padding-top: 0.5rem;
    margin-bottom: 0.8rem;
}
}

/* Extremely Large Laptops */
@media only screen and (min-width: 1440px){
    .similar-product-description{
    gap: 30rem;
}
}
@media only screen and (min-width: 2000px){
    .similar-product-description{
    gap: 60rem;
}
}
@media only screen and (min-width: 2200px){
    .similar-product-description{
    gap: 70rem;
}
}
@media only screen and (min-width: 2500px){
    .similar-product-description{
    gap: 90rem;
}
}
