* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 28px;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: blue;
}