<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/password_reset_done.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

</head>

<body>
    <section class="showcase">
        <div>
            <h1 class="head">Password Reset</h1>
        </div>

        <div class="info">
            <p>
                Email sent to your email address!
            </p>
            <p>Please click the link in your email to reset your passowrd</p>
        </div>

    </section>
</body>

</html>