<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Form</title>
    {% load static%}
    <link rel="stylesheet" href="{% static '/password_reset_form.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <section class="showcase">
        <div>
            <h1 class="head">
                Please type your new password here
            </h1>
        </div>
        <form method="post">
            {%csrf_token%}
            <div>
                <h3>Enter your password</h3>
                <input type="password" name="new_password1" class="password" placeholder="john123!">
            </div>
            <div>
                <h3>
                    Confirm your password
                </h3>
                <input type="password" name="new_password2" class="password" placeholder="john123!">
            </div>
            <div>
                <input type="submit" value="Submit" class="submit">
            </div>
        </form>
    </section>
</body>

</html>