<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>please type your new password here</h1>
    <form method="post">
        {%csrf_token%}
        
        <p>enter your password</p>
        <input type="password" name="new_password1" placeholder="password">
        <p>confirm your password</p>
        <input type="password" name="new_password2" placeholder="confirm password">
        <input type="submit" value="submit email" >
    </form>
</body>
</html>