
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
</head>
<body>
    <h1>Password reset</h1>
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <h1>EMAIL ADDRESS</h1>
    <form method="post"><input type="hidden" >
        {%csrf_token%}
        
    <input type="email" name="email" autocomplete="email">
    <input type="submit" value="Reset my password">
    </form>
</body>
</html>
