{% extends 'base.html' %}
{% block title %} Comparison {% endblock title %}


{% block stylesheeet %}
    {% load static %}
    <link rel="stylesheet" href= "{% static 'comparison.css' %}">
    <link rel="stylesheet" href= "{% static 'accordion.css' %}">
    <script defer src= "{% static 'comparison.js' %}"></script>

{% endblock stylesheeet %}

{% block content %}
  
{%load humanize %}

<main class = "comparePage">  
    <section id="comparePageView">
        
        <a href="{{product.productLink}}"><img class = 'comparisonImage' src="{{ product.imageLink }}" alt=""></a> 
        <aside>
               
            <div class="share-icon"> 
                <span class="iconify" data-icon="cil:share-alt" id="first-icon"></span>
                <span class="iconify" data-icon="fluent:comment-add-48-regular"></span>
            </div><br>

            <h1>{{product.name}}</h1><br>
            <span class = 'comparisonCard'>
                <p> &#8358;{{product.price|intcomma}}</p>
                <img src = '{{product.merchantLogo}}'/>
            </span>
            

            {% for products in comparisons %}
            <a href="{{products.productLink}}" class = 'comparisonCard'>   
                <p> &#8358;{{products.price|intcomma}}</p> 
                <img src = '{{products.merchantLogo}}'/>

                 

            </a>
            
            {% endfor %}
        </aside>

    </section>
    
    
</main>    
{% endblock %}
