{% extends 'base.html' %}

{% block title %} Privacy Policy {% endblock title %}

{% block stylesheeet %}
{% load static %}
<link rel="stylesheet" href="{% static 'privacy.css' %}">
{% endblock stylesheeet %}



{% block content %}
<!-- CONTAINER WRAPPER -->
<div class="container">
    <div class="privacy-policy">
        <!-- PRIVACY CONTENT STARTS -->
        <div class=" content">
           <h1>Privacy Policy</h1> 
           
           <p>Haggle, LLC Privacy Policy</p> 
           
           <p>Last Updated: July 28th, 2022</p> 
           <p>
            <h3><b>GENERAL</b></h3> <br><br>
            By accessing this site, you agree that you have read and understand Haggle, LLC (this website, our mobile apps, we, our, us, etc.)
            privacy statement (Statement) which describes how we use your personal information, and what options you have to update or request the deletion or correction of information submitted to us via this website and mobile app (Site).
            We do not require that you provide, nor do we collect, any personal information if you are just browsing the Site.</p>
            <p>If you do not agree with the terms and conditions of this Statement, please do not use the Site.
           </p>
           <h3>INFORMATION WE COLLECT & WHY</h3>
           <p>
                Personal Information Submitted By You. We collect Personal Information you provide to us for purposes of 
                (a) Signing up for our newsletter (b) Submitting comments to us for this Site (c) Filling out and submitting one of our online surveys
                (d) Participating in one of our contests (e) Setting up an account (f) Using shopping list alerts
                (g) Shopping history and, (h) Your general use of the Site
           </p>
           <p>If you use our feature to check for deals at a specific location, we will look up your location. This location is stored temporarily until you 
              perform another deal search.If you enable our local Shopping Alert feature, we will store your last location every hour, and temporarily check for a deal in your specific area.
              We will not save your previous location. You can turn off this feature at any time and we will erase your information. The practices described in this Statement may also apply 
              to Information you provide to us in writing or by telephone, such as when you contact our customer service staff.
              Personal Information may include items such as your name, address, telephone number, zip code, age,and income level. 
              Unless you provide it to us voluntarily, this website does not collect Personal Information about you in connection with your use of this Site.
            </p>
            <p>
                Information Pertaining to Minors:
                This website does not wish to collect Personal Information from minors (children under 13 years of age, or any other age defined under applicable law). 
                If we become aware that a minor is attempting to or has submitted Personal Information via this Site, we will notify the user that we may not accept his or her Personal Information.
                We will then delete any such Personal Information from our records.
            </p>
            
            <p>
                Automatic Transational Information:
                This Non-personal . Certain Non-personal Information may be collected automatically as part of your use of this Site, 
                as well as from your transactions with us and our affiliates or nonaffiliated third parties Information is used to improve the overall Site operations,
                functionality and appearance. Non-personal Information may include your IP address, web browser type, domain name and the time or date upon which you visited the Site
                We currently contract with online partners (Google, MailChimp, Flurry) to help manage and optimize our Internet business and communications. 
                We use the services of a marketing company to help us measure the effectiveness of our advertising and how visitors use our site. 
                To do this, we use Web beacons and cookies provided by our marketing company on this site. The type of information we collect includes the product codes and prices for merchandise that visitors purchase, and the pages visited.
                By supplementing our records, this information helps us learn things like what pages are most attractive to our visitors, which of our products most interest our customers, and what kinds of offers our customers like to see.
            </p>
            <p>
                Cookies, Clear Gifs (Web Beacons/Web Bugs):
                Cookies may be used by us in order to retain state-specific information and save your preferences. For example, we utilize a cookie in a feature of the Site to save whether you prefer list or tile view. Cookies are small data files
                that are stored on an Internet user's computer by a web server and may be used by some of the advertisers in the ads contained in our Site.
                This website has no access to the aggregate information compiled by third party clear gif usage.
                Third-party advertising companies also separately place or recognize a cookie file on your browser in the course of delivering advertisements to the Site. These companies may use non-personal information collected by the cookies about your visits to the Site and
                other websites in order to provide you with advertisements about goods and services of interest to you. You can prevent the use of cookies on your computer by adjusting the privacy settings in your browser. Google has details on what they use.
                If you want to prevent a third-party advertiser from collecting data, currently you may either visit each ad network's website individually and opt out or visit the  <a href="https://www.networkadvertising.org/optout_nonppii.asp">NAI gateway</a> opt-out site to opt-out of all network advertising cookies.
            </p>
            <h3>HOW WE USE THE INFORMATION COLLECTED</h3>
            <p>
                Personal Information is used by this website for the purpose for which it was submitted. 
                For example, if you submit your email address and other information required to subscribe to our newsletter or set up an account, 
                we will use that Personal Information to send you our newsletter. Please see below for your Choice/Opt Out options. We use your IP address to help diagnose problems with our server, and to administer the Site. 
                If a user elects to use our 'Share with a Friend' referral service for informing a friend about our Site or Deals, we ask them for the friend's name and email address. We will automatically send the friend a one-time email inviting them to visit the Site, 
                both email addresses are not stored.
            </p>
            <h3>DISCLOSURE OF INFORMATION TO THIRD PARTIES</h3>
            <p>
                Demographic and aggregate Information may be shared by us with third party advertisers. 
                Aggregate Information contains no personal identifiers. 
                We do not share, sell, trade, or rent your personal information to third parties for their promotional use.
                This website makes every reasonable effort to preserve user privacy. 
                However we reserve the right to disclose Personal Information when required or permitted by law and 
                we have a good-faith belief that such action is necessary to comply with an appropriate law enforcement
                investigation, current judicial proceeding, a court order or legal process served on us.
            </p>
            <h3>SALE OR TRANSFER OF INFORMATION</h3>
            <p>
                In the event of a sale, merger, liquidation, dissolution, or transfer of part of the business, trade or assets of this website, 
                all Information collected about you via this Site may be sold, assigned, or transferred to the party acquiring all or substantially all of the equity or assets or business of this website. 
                Subject to your election to opt out as described below, by using this Site, you consent to the sale and transfer of your information as described in this paragraph.
            </p>
            <h3>SECURITY</h3>
            <p>
                This Site has security measures in place to protect the loss, misuse and alteration of the Information under our control. 
                All employees are aware of our policies. Safeguards are in place to keep sensitive data secure via the use of passwords.
            </p>
            <h3 >THIRD PARTIES;</h3>
            <ul class="third-parties">
                <li> 
                    links:This Statement applies only to this website. This Site may include links to the web sites of both our affiliated and non-affiliated entities (Other Sites),
                    including access to content, products and services of such affiliated and non-affiliated entities. Other than as described below under 'Co-Branding', 
                    whenever you choose to access Other Sites or non-this website' content via this Site, a separate browser window will launch and you will leave this Site. 
                    We urge you to familiarize yourself with the individual privacy and other terms for each linked site prior to submitting your Personal Information.
                </li>
                <li>
                    Co-Branding:We also have co-branding relationships with other organizations. 
                    Although these areas of the Site may have the same (or a similar) look and feel as our Site and therefore may appear to be part of our Site, each has its own privacy policy. 
                    This website IS NOT RESPONSIBLE FOR THE PRODUCTS, PRICES, PRIVACY PRACTICES OR CONTENT OF OTHER SITES
                </li>
                <li class="service-provider">Third person Service Providers:This website works with a third party that serves ads to this Site. To find out more about how this third party manages the privacy of information. We use Google Analytics to analyse the use of our website. 
                    Google Analytics gathers information about website use by means of cookies.The information gathered relating to our website is used to create reports about the use of our website. 
                    Google's privacy policy is available at <a href=" https://policies.google.com/privacy"> Google privacy policy</a> . 
                    We publish Google AdSense interest-based advertisements on our website. These are tailored by Google to reflect your interests. 
                    To determine your interests, Google will track your behaviour on our website and on other websites across the web using cookies. 
                    You can view, delete or add interest categories associated with your browser by visiting <a href="https://adssettings.google.com"> Google add Setting</a> 
                    FeedBurner; handles our mailing list function, they have their own privacy policy. We urge you to familiarize yourself with their policies prior to using these services. 
                    We partner with Rakuten Marketing, who may collect personal information when you interact with our site. 
                    The collection and use of this information is subject to the privacy policy located<a href=" https://rakutenmarketing.com/legal-notices/services-privacy-policy/">here.</a>
                </li>
            </ul>
            <p>
                You accept these additional terms and conditions defined by our content providers by your use of the Site.  
            </p>
            <h4>  OTHER TERMS</h4>
            <p>
                Your use of our Site is subject to and contingent upon your agreement with our Terms of Use, which are hereby
                incorporated by reference.
            </p> 
            <h4>NOTIFICATION OF CHANGES</h4> 
            <p>
                We reserve the right to modify or revise these Terms of Use and/or Privacy Statement or our other policies at any time at 
                our sole discretion. Any such modifications to the Terms of Use and Privacy Statement shall be effective within 
                forty-eight (48) hours of being posted on the Site unless otherwise stated by us, in writing. 
                You are bound by such modifications or revisions, and should therefore visit this page frequently to review the terms. 
                Your continued use of the Site following our posting of any changes or modifications to these Terms of Use and/or Privacy Statement will constitute your acceptance of such changes or modifications.
                In the event that you do not agree to any changes or modifications of these Terms of Use and/or Privacy Statement, you should not continue to use the Site.

            </p>
            <h4>CONSENT</h4>  
            <p>
                By using this Site, you consent to the use, storage and disclosure of your Information by us in the manner described in this Statement. 
                We reserve the right to make changes to this Statement from time to time and will alert you to such changes via the Notification procedure
                described in the preceding paragraph.
            </p>
            <h4>CHOICE/OPT-OUT</h4>
            <p>
                Our Site provides users the opportunity to opt-out of receiving communications
                from us and our partners at the point where we request Information from you.
                In addition, to request that we remove you from our database or stop sending you future communications, 
                you can visit this mailing list page.
            </p>
            <h4>CORRECT/UPDATE</h4>
            <p>
                Users may submit requests to this website for changing, deleting, and modifying Personal Information previously submitted, by sending anemail to us.
            </p>
            <h4>GPDR</h4>
            <p>
                Haggle is a service forNigeria, the coupons, deals we list are for stores or websites within Nigeria only.
            </p>
            <h4>Contact Information</h4>
            <p>
                If you have any questions or comments about this notice, the ways in which we collect and uses your information described below [and in the Privacy Policy], 
                your choices and rights regarding such use, or wish to exercise your rights under Nigerian law, please do not hesitate to contact us as follows:
                
                Via our website: please send us an electronic message through our website

                Write to us at our address listed on our webpage.
            </p>
            <h4>ADDITIONAL CONTACT INFORMATION</h4>
            <p>Call us at 080-Haggle</p>
            <p>   Haggle, LLC </p>
            <p> Lagos, Nigeria</p>
        </div>
        <!-- PRIVACY CONTENTS ENDS -->
    </div>
</div>
{% endblock %}