{% extends 'base.html' %}


{% block stylesheeet %}
  {% load static %}
  <link rel="stylesheet" href= "{% static 'product.css' %}">
{% endblock stylesheeet %}

  {% block content %}
    {%load humanize %}

    <div class="productCardContainer">
      {% for product in products %}
       <a href="{{product.get_absolute_url}}">
          <h1>{{ product.name }}</h1>
          <figure>
            <img src="{{ product.imageLink }}" alt="product image">
          </figure>

          <h3> &#8358;{{ product.price|intcomma }}</h3>
          <img src = '{{product.merchantLogo}}'/>
          
        </a>
      {% endfor %}
      </div>
      


    {% comment %} whoever  structured this page needs to work on writing clearner codes. {% endcomment %}
    {% if products.has_other_pages %}
        <div class="pagination">
          {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}" class="previous-and-next-page-button">
                              <span class="iconify" data-icon="wi:direction-left"></span>
                              <p>Previous</p>
          {% else %}
            <div class="page-item disabled"><span>&laquo;</span></div>
          {% endif %}
          {% for i in products.paginator.page_range %}
            {% if products.number == i %}
              <p class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></p>
            {% else %}
              <a href="?page={{ i }}" class="active">{{ i }}</a>
            {% endif %}
          {% endfor %}
          {% if products.has_next %}
            
            <a href="?page={{ products.next_page_number }}" class="previous-and-next-page-button">
                              <p>Next</p> <span class="iconify" data-icon="wi:direction-left" data-rotate="180deg"></span>
                          </a>
          {% else %}
            <p class="page-item disabled"><span>&raquo;</span></p>
          {% endif %}
        </div>
        {% endif %}

  {% endblock %}