<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}  {% endblock title %}</title>

        <script src="https://kit.fontawesome.com/773c20f948.js" crossorigin="anonymous"></script>
        <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="https://i.postimg.cc/kM10QcSD/hagglefavicon.png" type="">


        {% load static %}
        

        {% comment %} js and css scripts for the header {% endcomment %}
        <link rel="stylesheet" href= "{% static 'header-footer.css' %}">
        <script defer src= "{% static 'header-footer.js' %}"></script>

        {% comment %}  for the landing page {% endcomment %}
        <link rel="stylesheet" href="{% static 'landingPage.css' %}">

        {% comment %} for comparison page {% endcomment %}
        <link rel="stylesheet" href= "{% static 'comparison.css' %}">
        <link rel="stylesheet" href= "{% static 'accordion.css' %}">
        <script defer src= "{% static 'comparison.js' %}"></script>

        {% comment %} for faq pages {% endcomment %}
        <link rel="stylesheet" href= "{% static 'faq.css' %}" >
        <script defer src= "{% static 'faq.js' %}" ></script>

        {% comment %} for profilecard pages {% endcomment %}
        <link rel="stylesheet" href="{% static 'profilecard.css' %}" >
    
        {% comment %} for contact page {% endcomment %}
        <link rel="stylesheet" href="{% static 'contact.css' %}">

        {% comment %} for product/search page {% endcomment %}
        <link rel="stylesheet" href= "{% static 'product.css' %}">

        {% comment %} for privacy policy page {% endcomment %}
        <link rel="stylesheet" href="{% static 'privacy.css' %}">

        
    </head>


    <body>
      <header>
        <!-- FIRST NAVIGATION BAR -->
        <nav class="nav1">
            <div class="nav1-logo">
                <img src="https://i.postimg.cc/MZ7cXnfs/footer-logo.png" alt="">
            </div>
            
            <div class="nav1-1">
                <div class="nav1-icon">
                    <span class="iconify iconify3" data-icon="fa-regular:user"></span>
                </div>
                <a href="{% url 'Haggle:login' %}" class="create-account">Sign In</a>
                <a href="{% url 'Haggle:signup' %}" class="create-account">Register</a>
            </div>
   
            <span class="iconify menu-open" data-icon="bx:menu"></span>
            <span class="iconify menu-closed" data-icon="uim:multiply"></span>
            
        </nav>
        <!-- SECOND NAVIGATION BAR -->
        <nav class="nav2">
            <a href="{% url 'Haggle:landing' %}">Home</a>
            <select name="links" id="" size="1" onchange="window.location.href=this.value;">
                <option value="">All Categories</option>
                <optgroup label="Phones">
                    <option value="/phone/tecno">Tecno</option>
                    <option value="/phone/samsung">Samsung</option>
                    <option value="/phone/lenovo">Lenovo</option>
                    <option value="/phone/nokia">Nokia</option>
                    <option value="/phone/xiaomi">Xiaomi</option>
                    <option value="/phone/infinix">Infinix</option>
                    <option value="/phone/oppo">Oppo</option>
                    <option value="/phone/apple">Apple</option>
                </optgroup>
                <optgroup label="Laptops">
                    <option value="/laptop/asus">Asus</option>
                    <option value="/laptop/lenovo">Lenovo</option>
                    <option value="/laptop/hp">Hp</option>
                    <option value="/laptop/dell">Dell</option>
                    <option value="/laptop/apple">Apple</option>
                </optgroup>
                <optgroup label="Electronics"></optgroup>
            </select>
            <a href="aboutPage.html">About us</a>
            <a href="contact.html">Contact</a>
            <a href="profilecard.html" class="create-account2">User Profile</a>
            <a href="signin.html" class="create-account2">Sign in/Register</a>
            <a href="support.html">Support</a>
           
           
        </nav>
        <!-- END OF HEADER -->
      </header>



      <main>
        {% block content %}
        
        {% endblock content %}

      </main>



        <!-- FOOTER -->
      <footer>
             <!-- FIRST FOOTER STARTS -->
                        <div class="news-letter">
                            <!-- NEWS LETTER SECTION -->
                            <div class="news-letter-details">
                                <h4>Newsletter</h4>
                                <small>To know more about new innovations at Haggle </small>
                            </div>
                            <div class="news-letter-email">
                                <div class="email-holder">
                                    <span class=" iconify iconify1 " data-icon="fa-regular:envelope"></span>
                                    <input type="email" name="" id="" placeholder="Enter your email " class="email-input">
                                </div>
                                
                                <button id="subscribe">Subscribe</button>
                            </div>
                        </div>
                        <!-- BLUE FOOTER DETAILS -->
                        <div class="first-footer-details">
                            <ul class="footer-ul">
                                <li class="title"><h4>About</h4></li>
                                <li class="footer-tagline">Leading the innovation in <br> online customer shopping experience <br> in Nigeria</li>
                                <a href="blog.html">Blog</a>
                            </ul>
                            <ul class="footer-ul">
                                <li class="title"><h4>Useful Links</h4></li>
                                <li> <a href="topdeals.html">Top deals</a></li>
                                <li> <a href="faq.html">FAQ</a></li>
                                <li> <a href="privacy.html">Privacy policy</a></li>
                                <li> <a href="terms.html">Terms and condition</a></li>
                            </ul>
                            <div class="socials">
                                <ul class="footer-ul">
                                    <li class="title"><h4>Support</h4></li>
                                    <li > <a href=""><span class=" iconify iconify2" data-icon="fa-regular:envelope"></span> info@haggle.com.ng</a></li>
                                    <li > <a href=""><span class="iconify iconify2" data-icon="carbon:phone"></span>080-Haggle</a></li>
                                    <div>
        
                                </ul>
                                <div class="socials-icon">
                                    <div class="icon"><span class="iconify" data-icon="la:facebook-square" style="font-size:1.4rem"></span></div>
                                    <div class="icon"><span class="iconify" data-icon="line-md:twitter" style="font-size:1.4rem"></span></div>
                                    <div class="icon"><span class="iconify" data-icon="la:instagram" style="font-size:1.4rem"></span></div>
                                    
                                </div>
                            </div> 
                        </div>
            <!-- SECOND FOOTER STARTS -->
            <div class="second-footer">
                <img src="https://i.postimg.cc/MZ7cXnfs/footer-logo.png" alt="" class="footer-logo">
                <p>&copy; 2022 Team 29 Nigeria. All rights reserved powered by Zuri-intership.com</p>
            </div>
        </footer>
        
    </body>
    </html>