{% extends 'base.html' %}



{% load static %}
    <!-- added by Rhoda -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   </header>
{% block content %}
    <main>
        <div class="entire-page">
            <div class="search-container">
              <div class="search-section-text">
                <p>Compare prices and find the best online deals in Nigeria</p>
              </div>
              <div class="search-bar">
                <i class="fa fa-search search-icon" ></i>
                <form action="{% url 'search' %}" method="get">
                <input type="search" name="search" class="search-field" placeholder="Search for a product">
                </form>
              </div>
            </div>
              
              
        
            </div>
            <div class="section-one">
              <div class="rectangle-one">
                <img src="{% static 'Frame1.png' %}" alt="1">
              </div>
              <div class="rectangle-two">
                <img src="Landing-images/first slider/Frame 135-2.png" alt="">
              </div>
              <div class="rectangle-three">
                <img src="Landing-images/first slider/Frame 135-1.png" alt="">
              </div>
              
              <!-- <div class="rectangle-four">
        
              </div> -->
            </div>
        
            <!-- section 2 -->
            <div class="section-two">
              <div class="top-bar">
                <div>
                  <p>TOP DEALS</p>
                  <a href="#">SEE ALL</a>
                </div>
              </div>
              <div class="items">
                <div>
                  <img src="Landing-images/tech products/Frame 129.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/tech products/Frame 126.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/tech products/Frame 127.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/tech products/Frame 128.png" alt="">
                </div>
              </div>
            </div>
        
            <!-- section 3 -->
            <div class="section-three">
              <div class="top-bar">
                <div>
                  <p>TECH PRODUCTS WITH UNBEATABLE PRICES</p>
                  <a href="#">SEE ALL</a>
                </div>
              </div>
              <div class="items">
                <div>
                  <img src="Landing-images/fashion deals/Frame 126.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/fashion deals/Frame 127.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/fashion deals/Frame 128.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/fashion deals/Frame 130.png" alt="">
                </div>
              </div>
            </div>
        
            <!-- section 4 -->
            <div class="section-four">
              <div class="top-bar">
                <div> 
                  <p>MOST ORDERED PRODUCTS</p>
                  <a href="#">SEE ALL</a>
                </div>
              </div>
              <div class="items">
                <div>
                  <img src="Landing-images/auto deals/Frame 126.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/auto deals/Frame 127.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/auto deals/Frame 128.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/auto deals/Frame 130.png" alt="">
                </div>
              </div>
            </div>
        
            <!-- section 5 -->
            <div class="section-five">
              <div class="top-bar">
                <div>
                  <p>CHECK OUT LATEST IN OUR STORE</p>
                  <a href="#">SEE ALL</a>
                </div>
              </div>
              <div class="items">
                <div>
                  <img src="Landing-images/health deals/Frame 126.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/health deals/Frame 127.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/health deals/Frame 128.png" alt="">
                </div>
                <div>
                  <img src="Landing-images/health deals/Frame 130.png" alt="">
                </div>
              </div>
            </div>
        
        
            <!-- entire page ends -->
          </div>
    </main>
  {% endblock %}