<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/password_reset.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <section class="showcase">
        <div>
            <h1 class="head">
                Password Reset
            </h1>
        </div>

        <div>
            <p class="info">
                Enter the email address associated with your account and we'll send you a link to reset your password.
            </p>
        </div>

        <form action="" method="post">
            {%csrf_token%}
            <div class="user-email">
                <h3>
                    Email Address
                </h3>
                <input type="email" name="email" class="email" id="email" placeholder="johndoe@gmail.com">
            </div>
            <div>
                <input type="submit" class="submit" value="continue">
            </div>
        </form>
        <div>
            <p class="optional">
                Don't have an account ? <a href="{% url 'signup' %}">Sign up</a>
            </p>
        </div>
    </section>
</body>

</html>