{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'sign.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    
</head>

<body>
    <!-- <div class="empty"></div> -->

    <div class="lay">

        <div class="sub_btn">
            <img src="https://i.postimg.cc/MZ7cXnfs/footer-logo.png" alt="haggle logo" class="logo" srcset="">

            <div class="sign">
                <!-- <input type="button" value="Login" class="flow flow2 "> -->

                <!-- <input type="button" value="Sign Up" class="flow"> -->
                <a href="{%url 'login'%}" class="ep2 he">login</a>
                <a href="{%url 'signup'%}" class="ep">Sign up</a>

            </div>
        </div>

        <form action="" method="post">
            {%csrf_token%}
            <!-- <div class="sign">
                    <input type="button" value="Sign up" class="flow flow2" >
                    <input type="button" value="Login" class="flow">
                    
                </div> -->
            <div class="content">


                <div class="name_field">
                    <div class="first">
                        <label>First Name</label><br>
                        <input type="text" name="first_name" placeholder="John" class="mail firstn">
                    </div>
                    <div class="last">
                        <label>Last Name </label> <br>
                        <input type="text" name="last_name" placeholder="John" class="mail lastn">
                    </div>

                </div>

                <label>username</label> <br>
                <input class="mail" type="text" name="username" placeholder="Joh">
                <br>
                <label>Email</label> <br>
                <input class="mail" type="email" name="email" placeholder="Joh Doe@gmail.com">
                <br>

                Password <br>
                <input class="mail" type="password" name="password1" placeholder="John123!">
                Confirm Password <br>
                <input class="mail" type="password" name="password2" placeholder="John123!">
            </div>
            <br>

            <div class="errors">
                {{form.errors}}
            </div>
            <br>

            <div class="sub_n">
            <input type="checkbox" name="terms" id="" >
             <label > Yes, I'd like to receive news and updates from Haggle. <br>
                For more information about how we deal with privacy and data, view our <a href="#">privacy policy</a> </label>
            <br>
            </div>
                <div class="sub_btn">
                <input type="submit" value="Sign up" class="sub">
          </div>
          
          <div class="google">
            <a class="google-l"  href="{% provider_login_url 'google' %}"><img class="google-img" src="https://i.postimg.cc/j23kLwQp/Google-G-Logo-svg.png" alt=""> <span class="google-note" >continue with google</span> </a>
        </div>
        </form>
        
        <!--<div class="optional-msg">
            <p>Already have an account ? <a href="{%url 'login' %}">login</a></p>
        </div>-->

    </div>


</body>

</html> 