* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.logo {
    margin-bottom: 40px;
}

h1 {
    font-size: 40px;
}

p {
    width: 60%;
    display: inline-block;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: start;
}

.login {
    text-decoration: none;
    display: block;
    font-size: 20px;
}