*{margin: 0; padding: 0; box-sizing: border-box;}

.comparePage{
    width: 80%;
    margin: 5% auto;
    
}
#comparePageView{
    display: grid;
    grid-template-columns: 50% 40%;
}
.comparisonCard{
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 80%;
    height: 50px;
}

.comparisonImage{
    max-width: 80%;
    max-height: 500px;
    /* display: block; */
}